@import url("https://fonts.googleapis.com/css?family=Lato|Raleway|Rouge+Script");

.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', Tahoma, sans-serif;
  width: 100%;
  min-height: 100%;
}

.header-wrapper {
  padding-bottom: 30px;
}

.navbar-item {
  line-height: 38px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  box-shadow:  10px;
}

.navbar-item.is-active{
  border-bottom: 2px solid #996E6D;
}

.a.navbar-item{
  font-color: #996E6D;
}

.hero {
  background-image: url(https://picsum.photos/id/25/1920/1080);
  background: linear-gradient(rgba(153, 110, 109, 0.65), rgba(153, 110, 109, 0.65)), rgba(0, 0, 0, 0.55) url("https://picsum.photos/id/381/1920/1080") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: 'Raleway', sans-serif;
}


.hero .title {
  font-family: 'Rouge Script', sans-serif;
  font-weight: 700;
  transform: rotate(-2deg);
  font-size: 5rem;
  padding-bottom: 5px;
  color: whitesmoke;
}

.hero .subtitle {
  padding: 35px;
  color: whitesmoke;
  font-size: 1.3rem;
}

.hero .tempatwaktu {
  padding-top: 35px;
  font-size: 1.3rem;
  
}

.hero .hero-foot {
  height: 50px;
  background: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.082);
}

@media (max-width: 599px) {
  .hero .hero-foot {
    display: none;
  }
}

.hero .hero-foot .hero-foot--wrapper {
  margin: 7px auto;
  height: 50px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop {
  line-height: 38px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li.is-active a {
  border-bottom: 2px solid #996E6D;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a {
  color: #996E6D;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a:hover {
  color: #996E6D;
  transition: all .2s ease-in-out;
  border-bottom: 2px solid #c28285;
}


.space40px{
  height: 40px;
}

.space24px{
  height: 24px;
}

.main-content {
  padding-top: 2rem;
  color: #000; 
  font-family: 'Raleway', sans-serif;
}

.main-content .section-dark {
  background-color: #F4E2E2;
  padding: 80px 40px;
}

.main-content .section-darker {
  background-color: #EDD2D1;
  padding: 80px 40px;
}

.main-content .section-dark.resume {
  height: 400px;
  padding-top: 60px;

}

@media (max-width: 599px) {
  .main-content .section-dark.resume {
    padding-top: 75px;
  }
}

.main-content .section-dark.resume .title {
  padding: 20px;
}

.main-content .section-dark.resume button {
  border: 2px solid #996E6D;
  background: white;
  color: #996E6D;
  height: 50px;
  width: 250px;
  font-size: 1rem;
  text-transform: uppercase;
}

.main-content .section-dark.resume .fa-download {
  color: #996E6D;
}

.main-content .section-dark.my-work {
  padding: 80px 40px;
}

.main-content .section-cashbac {
  background-color: rgb(238, 250, 253);
  padding: 80px 40px; 
}

@media (max-width: 599px) {
  .main-content .section-dark.foto-foto {
    padding: 75px 20px;
  }
}

.main-content .section-dark.foto-foto .foto-item {
  margin-bottom: 1rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

.main-content .section-dark.my-work .work-item:hover {
  -webkit-transform: scale(1.055) translateY(-2px);
  transform: scale(1.055) translateY(-2px);
  -webkit-box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
  box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
}

.section-map {
  padding: 0 0 0 0 ;
}

.main-content .section-light {
  padding: 80px 40px;
}

.main-content .section-light.regular-section {
  padding-bottom: 80px;
}

.main-content .section-light.regular-section .is-larger {
  font-size: 1.2rem;
}

@media (max-width: 599px) {
  .main-content .section-light.regular-section .about-links {
    text-align: center;
  }
}

.main-content .section-light.regular-section .right-image img {
  border-radius: 11px;
  margin: 20px;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

@media (max-width: 599px) {
  .main-content .section-light.regular-section .right-image img {
    margin: auto;
  }
}

.main-content .section-light.skills {
  padding: 100px;
}

@media (max-width: 599px) {
  .main-content .section-light.skills {
    padding: 50px 20px 40px 20px;
    padding-bottom: 20px;
  }
}

.main-content .section-light.skills h1 {
  padding: 10px;
  font-size: 24px;
}

.main-content .section-light.contact {
  padding: 80px;
}

.main-content .section-light.contact button {
  width: 100%;
  color: white;
  height: 50px;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

@media (max-width: 599px) {
  .main-content .section-light.contact {
    padding: 80px 40px;
  }
}

.main-content .section-color.pertanyaan {
  padding: 100px;
  background-color: #996E6D;
  color: white;
}

.main-content .section-color.pertanyaan .title,
.main-content .section-color.pertanyaan .subtitle {
  color: white;
}

.main-content .section-color.pertanyaan i {
  font-size: 3rem;
  padding: 20px;
}

.main-content .section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #996E6D;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0px;
  padding-bottom: 60px;
}

@font-face {
  font-family: "CustomFont";
  src: url("https://sheynafarhan-wedding.netlify.app/css/fonts/GreatDayPersonalUse.ttf") format("opentype"); 
  }

.nama-lengkap {
  font-family: 'CustomFont', sans-serif;
  color: #996E6D;
  font-size: 2.5rem;
  letter-spacing: 0px;
  padding-bottom: 6px;
  line-height: 3.7rem;
}

.ampersand {
font-family: 'Rouge Script', sans-serif;
color: #996E6D;
font-size: 5rem;
line-height: 5rem;
display: inline-block;
vertical-align: middle;
}

.bodytext {
  font-size: 18px;
}

.waktu {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
}

.tanggal-angka {
  font-size: 5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  line-height: 1;
}

.tempat {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  font-size: 30sp;
  margin-bottom: 50px;
}


.has-vertically-align {
  vertical-align: middle;
}

.footer {
  bottom: 0;
  width: 100vw;
  padding: 10px 10px 10px 10px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  background: #c28285;
  color: whitesmoke;    
}

.footer p {
  color: white;
  font-weight: 500;
  font-size: 10pt;
  display: inline-block;
  vertical-align: middle;
}


.main-content .no-padding-top {
  padding-top: 0px;
}

.footer img{
  margin: 10px 0px 10px 10px;
  display: inline-block;
  max-height: 24px;
  vertical-align: middle;
}

.footer a .nav-item {
  color: whitesmoke;
}

.fa-download {
  color: #43485c;
}

.divider {
  margin: 40px 25px;
  display: inline-block;
  max-height: 60px;
  vertical-align: middle;
}

.bismillah {
  margin: 25px;
  display: inline-block;
  max-height: 50px;
  vertical-align: middle;
}

#toTop {
  height: 50px;
  width: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #996E6D;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

#toTop a {
  color: white;
}

#toTop:hover {
  background-color: #BC8887;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F4E2E2;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #996E6D;
  -webkit-box-shadow: inset 0 0 6px #996E6D;
  background-color: #BC8887;
}

body.preloader-site {
  overflow: hidden;
}

.preloader-wrapper {
  height: 100%;
  width: 100%;
  background: #D8A9A8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.preloader-wrapper .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 120px;
}


.btn-whatsapp:hover {
  color: white;
  background-color: #59a543;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px solid #59a543;
  width:  210px;
  height: 65px;
  align-items: center;
  margin: 1rem;
}


.btn-whatsapp {
  background-color: #6cc751;
  width:  210px;
  height: 65px;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;  
  border-left: 1px solid #6cc751;
  border-right: 1px solid #6cc751;
  border-top: 1px solid #6cc751;
  border-bottom: 1px solid #6cc751;
  align-items: center;
  margin: 1rem;

}


.btn-cta:hover {
  color:white;
  background-color: #bf7877;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px solid #bf7877;
  width:  210px;
  height: 65px;
  align-items: center;
  margin: 1rem;
}

.btn-cta {
  background-color: #996E6D;
  width:  210px;
  height: 65px;
  color: white;
  font-size: 1.2rem;
  border: 2px solid #996E6D;
  border-radius: 10px;
  align-items: center;
  margin: 1rem;
}

.cashbac-logo-inline {
  width: 160px;
  vertical-align: middle;
}

.button-download {
  min-width: 200px;
  height: 55px;
  align-items: center;
  margin: 0.1rem;

}

.voucher-code {
  height: 55px;
  max-width: 180px;
  border: 2px solid #26ade4;
  border-radius: 10px 0 0 10px  ;
  font-size: 24px;
  padding: 15px;
}

.btn-voucher-code {
  height: 55px;
  min-width: 100px;
  border: 2px solid #26ade4;
  background-color: #26ade4;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  color: white;
}

.fa-copy {
  margin-right: 5px;
}
.white
{color:ghostwhite}


.dusty-pink {color: #D8A9A8}
.dusty-pink-lighter {color: #EDD2D1}
.dusty-pink-lightest {color: #F4E2E2}
.dusty-pink-darker {color: #BC8887}
.dusty-pink-darkest {color: #996E6D}

.tile {
  border-radius: 10px;
}


.foto1 {
  background-image:  url("../gambar/f1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}


.foto2 {
  background-image: url("../gambar/f2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}

.foto3 {
  background-image:  url("../gambar/f3.jpg");
  background-size: cover;
  background-position: top;
  background-repeat:no-repeat;
  min-height: 24rem;
}

.foto4 {
  background-image:  url("../gambar/f4.jpg");
  background-size: cover;
  background-position: top;
  background-repeat:no-repeat;
  min-height: 24rem;
}

.foto5 {
  background-image:  url("../gambar/f5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}


.foto6 {
  background-image:  url("../gambar/f6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}
.foto7 {
  background-image:  url("../gambar/f7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}
.foto8 {
  background-image:  url("../gambar/f8.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}
.foto9 {
  background-image:  url("../gambar/f9.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}




.title-foto {
  font-size: 18pt;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: left;
  color: white;
}


.subtitle-foto {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14pt;
  font-weight: 600;
  margin-top: 15px;
  text-align: left;
  color: white;
}

.section-light {
  background-image: url(../image/divider-flowers-leaves.png);
  background-position: bottom -30px center;
  background-repeat: no-repeat;
  background-size: initial;
}

.instagram {
  color: #996E6D;
  font-size: 1.25rem;
  font-weight: 900;
  margin-top: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}
.song {
	display: flex;
	align-items: center;
	font-size: 1.1em;
	font-family: "Roboto";
}
.pause {
	margin-left: 0.5em;
	cursor:pointer;
}

.toTop {
  position: fixed;
  right: 10%;
  bottom: 10px;
  background-color: #996E6D;
  padding: 20px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.toTop a {
  font-size: 18px;
  color: #fff;
}
